.App button {
  margin-bottom: 10px;
  display: block;
}

#output {
  margin-top: 10px;
  border: 1px solid #edf3ff;
  height: 500px;
}

.controls {
  margin: auto;
}

.controls form {
  text-align: left;
}

.controls form button {
  margin: 10px 0 30px;
}

#file-upload {
  display: none;
}

.main {
  margin-top: 20px;
}
